*.dll
**.cache
*.pdb
*.cache
*.editorconfig
*.cache
EShop.Wallet.DataProvider/obj/Debug/netcoreapp3.1/EShop.Wallet.DataProvider.assets.cache
*.cache
EShop.Wallet.Api/obj/Debug/netcoreapp3.1/EShop.Wallet.Api.assets.cache
EShop.Apigateway.Test/obj/Debug/netcoreapp3.1/EShop.Apigateway.Test.assets.cache
*.exe
*.suo
bin
obj
*.dll
*.cache
